body {
	 background: url('public/img/earth2.jpg');
	 background-size: cover;
	 color: white;
	 font-family: "Ubuntu",Helvetica, Arial, sans-serif!important;

}

#gridTable { 

	width: 600px;
	height: 600px; 
	border-collapse: collapse; 
}
#gridTable td { 
	border: 1px solid #ccc; 
}
.initial {
	background: #FFFFFF;
}


.dead{
	background: #8099E6;
}

.live{
	background: #0029A3;
}


#radiusSlider .slider-selection {
	background: #BABABA;
}

#bsizeSlider .slider-selection {
	background: #BABABA;
}

#bspeedSlider .slider-selection {
	background: #BABABA;
}
