#gridTable { 

	width: 500px;
	height: 500px; 
	border-collapse: collapse; 
}
#gridTable td { 
	border: 1px solid #ccc; 
}
.initial {
	background: #FFFFFF;
}


.dead{
	background: #8099E6;
}

.live{
	background: #0029A3;
}
